$gutter = 20px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3)
$margin-large = ($gutter * 4)

$font-size-large = 24px
$font-size-mid = 18px
$font-size-basic = 16px
$font-size-small = 12px
$font-size-tiny = 10px

grid-maker(98%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

.ornament
  font-feature-settings: "ornm"

.no-p-margin-bottom
  p
    margin-bottom: 0

.top-thumb-holder
  img
    max-width: 350px
    max-height: 350px
    height: auto
    width: auto

.gallery-thumb-holder
  display: inline-block
  padding: 0 $margin-small $margin-small 0
  img
    max-width: 130px
    max-height: 130px
    height: auto
    width: auto

#overlay-gallery
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 300
  background: $color-white
  opacity: 0
  pointer-events: none
  //transition: opacity 300ms ease-in-out
  will-change: opacity
  .swiper-container
    width: 100%
    height: 100%
  .swiper-slide
    display: flex
    justify-content: center
    align-items: center
    img
      width: auto
      max-height: 100%
      cursor: zoom-in
    &.zoomed
      display: block
      overflow: scroll
      img
        max-height: none
        max-width: 100%
        height: auto
        cursor: zoom-out
      .slide-caption-holder
        opacity: 0
        .slide-caption span
          pointer-events: none
  &.active
    opacity: 1
    pointer-events: auto

.slide-caption-holder
  position: absolute
  z-index: 400
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: flex-end
  pointer-events: none

.slide-caption
  padding: $margin-basic
  span
    pointer-events: auto
  &.show-info
    .slide-caption-info-trigger
      display: none
    .slide-caption-info
      display: block

.slide-caption-info
  display: none

#slide-controls
  pointer-events: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 800
  .slide-control
    pointer-events: auto
    padding: $margin-basic

#gallery-close
  position: absolute
  top: 0
  right: 0
  width: 100%
  height: 100%
  pointer-events: none
  z-index: 1000
  .toggle-overlay
    padding: $margin-basic
    pointer-events: auto

#gallery-zoom
  position: fixed
  top: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 900
  background: $color-white
  opacity: 0
  pointer-events: none
  overflow: scroll
  img
    cursor: zoom-out
    max-width: 100%
    margin: 0 auto
    display: block
  &.active
    opacity: 1
    pointer-events: auto

.entry-content
  width: 60%
  margin-left: auto
  margin-right: auto

.entry-content > *
  padding-left: $margin-tiny
  padding-right: $margin-tiny

.alignwide
  margin-left: calc(unquote('-100% / 60 * 10')) !important
  margin-right: calc(unquote('-100% / 60 * 10')) !important
  max-width: calc(unquote('(100% / 60) * 80)'))
  text-align: center

.alignfull
  margin-left: calc(unquote('-100% / 60 * 20')) !important
  margin-right: calc(unquote('-100% / 60 * 20')) !important
  max-width: calc(unquote('(100% / 60) * 100)'))
  text-align: center

.wp-block-embed__wrapper
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
