$gutter = 30px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3)
$margin-large = ($gutter * 4)

$font-size-extra = 28px
$font-size-large = 24px
$font-size-mid = 18px
$font-size-basic = 16px
$font-size-small = 12px
$font-size-tiny = 10px

grid-maker(98%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

.not-mobile
  display: none !important

.background-alabaster
  background-color: $color-alabaster

.background-white
  background-color: $color-white

html
  background-color: $color-alabaster

body
  background-color: $color-white

.ornament
  font-feature-settings: "ornm"

.note-text, .note-link
  p:first-child:before
    content: '3 '
    font-feature-settings: "ornm"
    display: inline-block
    padding-right: .2em

.note-link p:first-child:before
  content: '1 '

.no-p-margin-bottom
  p
    margin-bottom: 0

#main-container
  &.scroll-locked
    width: 100%
    left: 0
    position: fixed
    pointer-events: none
    overflow: hidden

#header
  text-align: center
  margin-bottom: $margin-small

#query-row
  padding-top: $margin-small
  padding-bottom: $margin-small

.query-item
  text-align: center
  margin-bottom: $margin-small

#top-thumb-holder
  text-align: center
  margin-bottom: $margin-small
  img
    max-width: 350px
    max-height: 350px
    height: auto
    width: auto

#query-row
  flex-wrap: wrap
  justify-content: center

#single-header,
#project-gallery-holder,
#project-content-holder,
.single-post
  margin-bottom: $margin-basic

.info-section
  margin-bottom: $margin-small

#mailchimp-holder
  margin-bottom: $margin-tiny

#single-header
  text-align: center

#single-post-ornament-holder
  margin-bottom: 0.2em

#project-gallery-holder
  display: flex
  align-content: flex-start
  align-items: flex-end

#overlay-gallery
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 300
  background: $color-white
  opacity: 0
  pointer-events: none
  //transition: opacity 300ms ease-in-out
  will-change: opacity
  .swiper-container
    width: 100%
    height: 100%
  .swiper-slide
    display: flex
    justify-content: center
    align-items: center
    img
      width: auto
      max-height: 100%
      cursor: zoom-in
    &.zoomed
      display: block
      overflow: scroll
      img
        max-height: none
        max-width: 100%
        height: auto
        cursor: zoom-out
      .slide-caption-holder
        opacity: 0
        .slide-caption span
          pointer-events: none
  &.active
    opacity: 1
    pointer-events: auto

.slide-caption-holder
  position: absolute
  z-index: 400
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: flex-end
  pointer-events: none

.slide-caption
  padding: $margin-small
  span
    pointer-events: auto
  &.show-info
    .slide-caption-info-trigger
      display: none
    .slide-caption-info
      pointer-events: auto
      display: block

.slide-caption-info
  display: none

#slide-controls
  pointer-events: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 800
  font-size: 3em
  .slide-control
    pointer-events: auto
    padding: $margin-tiny $margin-small

#gallery-close
  position: absolute
  top: 0
  right: 0
  width: 100%
  height: 100%
  pointer-events: none
  z-index: 1000
  font-size: 2em
  .toggle-overlay
    padding: $margin-tiny $margin-small
    pointer-events: auto

#gallery-zoom
  position: fixed
  top: 0
  right: 0
  width: 100%
  height: 100%
  z-index: 900
  background: $color-white
  opacity: 0
  pointer-events: none
  overflow: scroll
  img
    cursor: zoom-out
    max-width: 100%
    margin: 0 auto
    display: block
  &.active
    opacity: 1
    pointer-events: auto

.entry-content
  width: 60%
  margin-left: auto
  margin-right: auto

.entry-content > *
  padding-left: $margin-tiny
  padding-right: $margin-tiny
  line-height: 1.45

.alignwide
  margin-left: calc(unquote('(-100% / 60) * 10')) !important
  margin-right: calc(unquote('(-100% / 60) * 10')) !important
  max-width: calc(unquote('(100% / 60) * 80'))
  text-align: center

.alignfull
  margin-left: calc(unquote('(-100% / 60) * 20')) !important
  margin-right: calc(unquote('(-100% / 60) * 20')) !important
  max-width: calc(unquote('(100% / 60) * 100'))
  text-align: center

.wp-block-image, .wp-block-embed__wrapper
  margin-top: 3em
  margin-bottom: 3em

.wp-block-image
  figcaption
    font-size: $font-size-basic

.wp-block-embed__wrapper
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%
  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

/*.wp-block-image
  &.alignwide, &.alignfull
    margin-left: calc(unquote('(-100% / 60) * 40')) !important
    margin-right: calc(unquote('(-100% / 60) * 40')) !important
    max-width: calc(unquote('(100% / 60) * 120'))
    padding: 0
    display: flex
    justify-content: space-between
    flex-direction: row-reverse
    align-items: flex-end
    figcaption
      padding-right: $margin-small
      font-size: $font-size-small
      width: 20%
      text-align: right

  &.alignwide
    img
      width: 60%
      margin-left: 0%
      margin-right: 10%
    figcaption
      margin-left: 10%
      width: 20%
      text-align: right

  &.alignfull
    img
      width: 80%
      margin-left: 0%
      margin-right: 0%
*/

input, button
  appearance: none
  width: 100%
  border: 1px solid $color-black
  padding: 1.2em 1.2em 1em

input
  border: none
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='5%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

button
  padding-bottom: .95em

.single-info
  .info-section:nth-child(1)
    order: 2
  .info-section:nth-child(2)
    order: 1
  .info-section:nth-child(3)
    order: 3
