@media screen and (min-width: 1024px)

  $gutter = 40px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3)
  $margin-large = ($gutter * 4)

  $font-size-extra = 40px
  $font-size-large = 32px
  $font-size-mid = 24px
  $font-size-basic = 18px
  $font-size-small = 14px
  $font-size-tiny = 11px

  grid-maker(98%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .desktop-only
    display: initial !important

  #header
    margin-bottom: $margin-basic

  #query-row
    padding-top: $margin-basic

  .query-item
    margin-bottom: $margin-basic

  .query-item-top
    flex-direction: row

  #top-thumb-holder
    text-align: right

  #single-header,
  #project-gallery-holder,
  #project-content-holder,
  #single-post
    margin-bottom: $margin-basic

  #project-gallery-holder
    display: block

  .gallery-thumb-holder
    display: inline-block
    padding: 0 $margin-small $margin-small 0
    width: auto
    max-width: auto
    img
      max-width: 270px
      max-height: 270px
      height: auto
      width: auto

  #slide-controls .slide-control,
  #gallery-close .toggle-overlay
      padding: $margin-tiny $margin-small

  .slide-caption
    padding: $margin-small

  .entry-content > *
    padding-left: $margin-tiny
    padding-right: $margin-tiny

  .wp-block-image
    figcaption
      font-size: $font-size-small
