@media screen and (min-width: 720px)

  $gutter = 35px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3)
  $margin-large = ($gutter * 4)

  $font-size-extra = 36px
  $font-size-large = 28px
  $font-size-mid = 21px
  $font-size-basic = 17px
  $font-size-small = 13px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  grid-maker(98%, $gutter, m)

  .not-mobile
    display: block !important

  .mobile-only
    display: none !important

  .note-text
    p:first-child:before
      height: 14px

  .note-link
    p:first-child:before
      height: 12px

  #header
    margin-bottom: $margin-small
    text-align: left

  #query-row
    padding-top: $margin-small
    padding-bottom: 0

  .query-item
    margin-bottom: $margin-small
    text-align: left

  .query-item-top
    flex-direction: row-reverse

  .query-item-post
    text-align: center

  .query-item-post, .query-item-note
    padding-top: 0.3em

  #top-thumb-holder
    text-align: left
    margin-bottom: 0

  #query-row
    justify-content: flex-start

  #single-header
    text-align: left

  #single-header,
  #project-gallery-holder,
  #project-content-holder,
  .single-post
    margin-bottom: $margin-small

  .info-section
    margin-bottom: $margin-small

  #mailchimp-holder
    margin-bottom: $margin-tiny

  .slide-caption
    padding: $margin-small

  #slide-controls .slide-control,
  #gallery-close .toggle-overlay
      padding: $margin-tiny $margin-small

  .entry-content > *
    padding-left: $margin-tiny
    padding-right: $margin-tiny

  .wp-block-image,
  .wp-block-embed__wrapper,
  .wp-block-gallery
    figcaption
      font-size: $font-size-small

  input
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23080808' stroke-width='2' stroke-dasharray='7%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    &:focus
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23d0d0d0' stroke-width='2' stroke-dasharray='7%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  .single-info
    .info-section:nth-child(1)
      order: 1
    .info-section:nth-child(2)
      order: 2
    .info-section:nth-child(3)
      order: 3
