@media screen and (min-width: 720px)

  $gutter = 35px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3)
  $margin-large = ($gutter * 4)

  $font-size-extra = 36px
  $font-size-large = 28px
  $font-size-mid = 21px
  $font-size-basic = 17px
  $font-size-small = 13px
  $font-size-tiny = 10px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  grid-maker(98%, $gutter, m)

  .not-mobile
    display: block !important

  .mobile-only
    display: none !important

  #header
    margin-bottom: $margin-small
    text-align: left

  #query-row
    padding-top: $margin-small
    padding-bottom: 0

  .query-item
    margin-bottom: $margin-small
    text-align: left

  .query-item-top
    flex-direction: row-reverse

  .query-item-post
    text-align: center

  #top-thumb-holder
    text-align: left
    margin-bottom: 0

  #query-row
    flex-wrap: nowrap
    justify-content: flex-start

  #single-header
    text-align: left

  #single-header,
  #project-gallery-holder,
  #project-content-holder,
  #single-post
    margin-bottom: $margin-small

  .slide-caption
    padding: $margin-small

  #slide-controls .slide-control,
  #gallery-close .toggle-overlay
      padding: $margin-tiny $margin-small

  .entry-content > *
    padding-left: $margin-tiny
    padding-right: $margin-tiny
